@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* APP */

body {
  background-color: #07000d;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: white;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0 0 3rem;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  width: 50%;
  font-size: 1.25rem;
  transition: all 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.todo p {
  color: rgb(255, 255, 255);
}

.todo p.completed {
  text-decoration: line-through;
  color: rgba(230, 240, 255, 0.6);
}

.todo_status,
.todo_delete {
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  transform: all 0.1s;
  background: none;
  &:hover {
    transform: scale(1.2);
  }
}
.todo_status {
  color: white;
}

.form {
  display: flex;
  gap: 0.5rem;
  width: 50%;
  margin: 1rem auto;
}

.form_input {
  flex: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.mutations {
  display: flex;
  gap: 0.5rem;
}

.form_button {
  border: none;
  background-color: rgba(113, 0, 212, 0.7);
  cursor: pointer;
  color: white;
  font-weight: 500;
  border-radius: 0.25rem;

  &:hover {
    background-color: rgba(95, 0, 179, 0.5);
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 2.5rem;
  }

  .form {
    width: 95%;
  }
  .todo {
    width: 95%;
    font-size: 1.2rem;
  }
}
